@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Red+Hat+Mono:ital,wght@0,300..700;1,300..700&display=swap');

:root {
  --clr-accent-50-100: hsl(0 0% 100% / 100%);
  --clr-accent-100-100: hsl(257 100% 96% / 100%);
  --clr-accent-100-0: hsl(257 100% 96% / 0%);
  --clr-accent-400-100: hsla(260 82% 77% / 100%);
  /* --clr-accent-400-100: #6862743e; */
  --clr-accent-950-100: hsl(0 0% 0% / 100%);

  --sh-identifier: #E8E8E8;
  --sh-keyword: #F4BDFF;
  --sh-string: #BDF4FF;
  --sh-class: #D3BDFF;
  --sh-property: #D3BDFF;
  --sh-entity: #F4BDFF;
  --sh-jsxliterals: #BDF4FF;
  --sh-sign: #E8E8E8;
  --sh-comment: #9b97ab;

  --ff-body: "Manrope", sans-serif;
  --ff-code: "Red Hat Mono", monospace;

  --icon-size: 24px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--ff-body);
}

code {
  font-family: var(--ff-code);
  font-size: 0.85rem;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: inherit;
  color: inherit;
  font-size: inherit;
}

img {
  display: block;
  max-width: 100%;
}

a {
  color: inherit;
}

p {
  margin-block-end: 0.5rem;
}

.wrapper {
  max-width: 60rem;
  margin-inline: auto;
}

.table .row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.table .row.heading {
  background-color: #c2c2c2;
}

.table .row:not(.heading):nth-of-type(2n+1) {
  background-color: #e9e9e9;
}

.cell {
  padding: 0.5rem 1rem;
}