@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Red+Hat+Mono:ital,wght@0,300..700;1,300..700&display=swap');

:root {
  --clr-accent-50-100: hsl(0 0% 100% / 100%);
  --clr-accent-100-100: hsl(257 100% 96% / 100%);
  --clr-accent-100-0: hsl(257 100% 96% / 0%);
  --clr-accent-400-100: hsla(260 82% 77% / 100%);
  --clr-accent-950-100: hsl(0 0% 0% / 100%);
  --ff-body: "Manrope", sans-serif;
  --ff-code: "Red Hat Mono", monospace;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--ff-body);
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: inherit;
  color: inherit;
  font-size: inherit;
}

img {
  display: block;
  max-width: 100%;
}